<div class="container">
  <h3>Employee Forms</h3>
  <form #form="ngForm" (submit)="submitForm(form)" novalidate>
    <div class="form-group" [class.has-error]="firstNameModel.invalid && firstNameModel.touched">
      <label class="control-label">First Name</label>
      <input type="text" name="firstName" required placeholder="Name" class="form-control" 
        #firstName #firstNameModel="ngModel" required pattern="...+" maxlength="10"
        [ngModel]="model.FirstName" (ngModelChange)="firtNameToUpperCase($event)" />
      <div class="alert alert-danger" *ngIf="firstNameModel.invalid && firstNameModel.touched">
        First Name is required and length must between than 3 - 10.
      </div>
    </div>
    <!--<h4>firstName model's valid: {{ firstNameModel.valid }}</h4>
    <h4>Form valid: {{ form.valid }}</h4>-->

    <div class="form-group">
      <label>Last Name</label>
      <input type="text" name="lasttName" required placeholder="Name" class="form-control"
        [(ngModel)]="model.LastName" #lastName="ngModel" required />
      <div class="alert alert-danger" *ngIf="firstNameModel.invalid && firstNameModel.touched">
        Last Name is required.
      </div>
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="is-full-time" 
                [(ngModel)]="model.isFullTime" /> Full Time Employee
        </label>
    </div>

    <label>Payment Type</label>
    <div class="radio">
        <label>
            <input type="radio" name="paymentType" value="w2"
                [(ngModel)]="model.paymentType" /> W2
        </label>
    </div>
    <div class="radio">
        <label>
            <input type="radio" name="paymentType" value="1099"
                [(ngModel)]="model.paymentType" /> 1099
        </label>
    </div>
    <div class="form-group" [class.has-error]="hasPrimaryLanguageError">
      <label class="control-label">Primary Language</label>
      <select class="form-control" name="primaryLanguage"
        [(ngModel)]="model.primaryLanguage"
        #primaryLanguageModel="ngModel" #primaryLanguage
        (blur)="validatePrimaryLanguage(primaryLanguage.value)"
        (change)="validatePrimaryLanguage(primaryLanguageModel)">
            <option *ngFor="let lang of languages" [value]="lang.id">{{ lang.name }}</option>
        </select>
      <div class="alert alert-danger" [hidden]="!hasPrimaryLanguageError">
        Primary Language is required.
      </div>
    </div>
    <button type="submit" class="btn btn-primary"
        [disabled]="form.invalid">
        OK
    </button>
  </form>
</div>
